USE [master]
GO
/****** Object:  Database [ECommerceSystemDB]    Script Date: 03-Nov-18 9:11:49 AM ******/
CREATE DATABASE [ECommerceSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ECommerceSystemDB', FILENAME = N'H:\Database\ECommerceSystemDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ECommerceSystemDB_log', FILENAME = N'H:\Database\ECommerceSystemDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ECommerceSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ECommerceSystemDB]
GO
/****** Object:  Table [dbo].[Catagory]    Script Date: 03-Nov-18 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catagory](
	[CatagoryId] [int] IDENTITY(1,1) NOT NULL,
	[CatagoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Catagory] PRIMARY KEY CLUSTERED 
(
	[CatagoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Item]    Script Date: 03-Nov-18 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[SubCatagoryId] [int] NOT NULL,
	[ItemName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductSize]    Script Date: 03-Nov-18 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductSize](
	[ProductSizeId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[ProductSize] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ProductSize] PRIMARY KEY CLUSTERED 
(
	[ProductSizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Quantity]    Script Date: 03-Nov-18 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quantity](
	[QuantityId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[Quantity] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Quantity] PRIMARY KEY CLUSTERED 
(
	[QuantityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubCatagory]    Script Date: 03-Nov-18 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCatagory](
	[SubCatagoeyId] [int] IDENTITY(1,1) NOT NULL,
	[CatagoryId] [int] NOT NULL,
	[SubCatagoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SubCatagory] PRIMARY KEY CLUSTERED 
(
	[SubCatagoeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Catagory] ON 

INSERT [dbo].[Catagory] ([CatagoryId], [CatagoryName]) VALUES (1, N'Cloths')
SET IDENTITY_INSERT [dbo].[Catagory] OFF
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_SubCatagory] FOREIGN KEY([SubCatagoryId])
REFERENCES [dbo].[SubCatagory] ([SubCatagoeyId])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_SubCatagory]
GO
ALTER TABLE [dbo].[ProductSize]  WITH CHECK ADD  CONSTRAINT [FK_ProductSize_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
GO
ALTER TABLE [dbo].[ProductSize] CHECK CONSTRAINT [FK_ProductSize_Item]
GO
ALTER TABLE [dbo].[Quantity]  WITH CHECK ADD  CONSTRAINT [FK_Quantity_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
GO
ALTER TABLE [dbo].[Quantity] CHECK CONSTRAINT [FK_Quantity_Item]
GO
ALTER TABLE [dbo].[SubCatagory]  WITH CHECK ADD  CONSTRAINT [FK_SubCatagory_Catagory] FOREIGN KEY([CatagoryId])
REFERENCES [dbo].[Catagory] ([CatagoryId])
GO
ALTER TABLE [dbo].[SubCatagory] CHECK CONSTRAINT [FK_SubCatagory_Catagory]
GO
USE [master]
GO
